body {
    background-color: #2ed573;
}

.box {
    margin: auto;
    padding: 10px;
    background-color: white;
    color:#2ed573;
    box-shadow:0 5rem 10rem rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 60%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 25%;
    height: 250px;
}
p {
    margin-top: 30%;
    padding-top: 20%;
    font-size: 24px;
}
.button {
    position: fixed;
    top: 90%;
    left: 80%;
    text-transform: uppercase;
    background-color: #2ed573;
    border:#2ed573;
    color: white;
    width: 17% !important;
    border-radius: 5px;
}
#quoteDisplay {
    margin: 20px;
    font-size: 34px;
}
.bottomRow {
    color:#2ed573;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
